/* 登录页面头部模块 start */
.login_header{
    height: 70px;
    margin-top: 10px;
    /* background-color: pink; */
}
.login_header .login_logo{
    float: left;
    margin-left: 30px;
}
.login_header .login_logo img{
    height: 70px;
}
.login_header h1{
    float: left;
    line-height: 70px;
    font-weight: 400;
}
.back_index{
    line-height: 70px;
    margin-left: 20px;
    color: #333;
}
.back_index:hover{
    color: #ef6937;
}
/* 登录页面头部模块 end */
/* 登录盒子模块 start */
.login_box{
    position: relative;
    width: 80%;
    margin: 30px auto 0;
     /*background-color: pink;*/
}
.login_box .row{
    text-align: center;
}
.login_box .row .password-btn-class{
    position: absolute;
    right: 306px;
    top: 156px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.gameReview{
    position: relative;
    top: -155px;
}
.login_box .row .review_height{
    height: 300px;
    line-height: 30px;
    text-indent: 2em;
}

.login_box .input_clsss{
    width: 40%;
    height: 60px;
    margin: 20px auto 20px 50px;
    text-indent: 1em;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    outline: 0;
}
/* 给js触发事件的样式 start */
.login_box .input_click{
    border: 1px solid #ef6937;
}
/* 给js触发事件的样式 end */
.login_box .check_code{
    width: 200px;
}
.login_box img{
    width: 150px;
}

/* 显示和隐藏密码样式 */
.login_box #password-btn{
    position: absolute;
    right: 55px;
    top: 130px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.login_box #password2-btn{
    position: absolute;
    right: 55px;
    top: 230px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.login_box .login_btn{
    text-indent: 0;
    font-size: 20px;
    color: #fff;
    background-color: #ef6937;
    cursor: pointer;
}
.mod_help{
    margin-left: 50px;
}
.mod_help a{
    color: #bbb;
}
.mod_help a:hover{
    color: #ef6937;
}
.mod_help_right{
    float: right;
    margin-right: 50px;
}
/* 登录盒子模块 end */

/*注册失败或者登录失败消息样式*/
/* 错误时样式 */
.error_msg{
    color: red;
}
/* 正确时样式 */
.right_msg{
    color: green;
}
/*验证码消息样式*/
.msg_checkCode{
    position: absolute;
    top: 388px;
    left: 180px;
}
/*用户名消息样式*/
.msg_username{
    position: absolute;
    left: 180px;
    top: 90px;
}
/*密码消息样式*/
.msg_password{
    position: absolute;
    left: 180px;
    top: 190px;
}
/*确认密码样式*/
.msg_password2{
    position: absolute;
    left: 180px;
    top: 290px;
}

.login_box h3{
    text-align: center;
}
/* 返回按钮样式 */
.back{
    position: absolute;
    top: 0;
    right: 60px;
    width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    border: 2px solid #ef6937;
    color: #fff;
    background-color: #ef6937;
}
.back:hover{
    background-color: #fff;
    color: #ef6937;
}
/* 性别盒子样式 */
.sex_box{
    margin: 20px auto;
}
/*头像区域 start*/
h4{
    font-weight: 400;
    text-align: center;
}
a{
    display: block;
    text-decoration: none;
    text-align: center;
}
.avatar-box{
    width: 300px;
    height: 300px;
    background-color: #f7f7f7;
    margin: 0 auto;
}
.input_row{
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 10px 60px;
    cursor: pointer;
    font-size: 14px;
}
.preview{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}
.preview img{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.orange{
    background-color: #ef6937;
    color: #fff;
    border: 0;
    border-radius: 5px;
    outline: none;
}
.orange:hover{
    background-color: #fff;
    color: #ef6937;
    border: 1px solid #ef6937;
}
.avatar-msg{
    display: block;
    text-align: center;
}
/*头像区域 end*/